<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="productos.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <h1>Lienzo Libre</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="registro.html">Registro</a></li>
                <li><a href="productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
     <div class="content-container">
    <main>
      <div class="emoji">🛠️</div>
      <h1>Sección de Productos en Mantenimiento</h1>
      <p>Estamos trabajando para mostrarte nuestros diseños más creativos muy pronto.</p>
      <p>¡Gracias por tu paciencia!</p>
      
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
      
      <div class="contact">
        <a href="mailto:soporte@lienzolibre.com">soporte@lienzolibre.com</a>
      </div>
    </main>
  </div>
    <footer>
        <div class="footer-info">
            <h3>Lienzo Libre - Viste tu idea, expresa tu ser.</h3>
            <p>&copy; 2025 Todos los derechos reservados.</p>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="registro.html">Registro</a></li>
                <li><a href="productos.html">Productos</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>