<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicio.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>PAGINA INICIAL</title>
</head>

<body>
    <h1>BIENVENID@</h1>
    <p>💫Selecciona la página a la que quieres ingresar💫</p>
    <div class="link-container">
        <div class="link-box">
            <div class="emoji">🧮</div>
            <a href="calculadora.html">Calculadora</a>
        </div>
        <div class="link-box">
            <div class="emoji">📷</div>
            <a href="generadorQR.html">Generador QR</a>
        </div>
    </div>

</body>

</html>